<!--Usage: {{> FileDownload meteor_method=... meteor_method_argument=... button_text=...}}-->

<template name="FileDownload">

  <div class="ui">
      <form class="ui form">
        {{#if is_button_enabled}}
        <button class="ui button blue" id="button_download_file"><i class="ui icon download"></i>{{button_text}}</button>
        {{else}}
        <button class="ui button blue disabled" id="button_download_file"><i class="ui icon download"></i>{{button_text}}</button>
        {{/if}}
        &nbsp;

      {{#if download_button_clicked}}
        {{#if waiting_for_download}}
          {{> Loading}}
        {{else}}
          {{#if download_error}}
            <!--<div class="ui message raised red text">-->
              <b>Download Error: {{server_error}}</b>
            <!--</div>-->
          {{else}}
            <b><a class="ui large" href="{{downloadable_file_url}}?download=true" target="_parent" download>
              Click this link to download
            </a></b>

            &nbsp;
            <div class="circular ui icon button red" id="delete_downloadable_file_on_server">
              <i class="icon delete"></i>
            </div>
          {{/if}}
        {{/if}}
      {{/if}}

      </form>

    <br>
    </div>

</template>